// Import libraries
@import 'bower_components/nib'
@import 'mixins'

// Fonts
$font-size-0 = 16px
$font-size-1 = .8em

$font-weight-0 = 300
$font-weight-1 = 400
$font-weight-2 = 700

// colors
$color-0 = #000

// General Style
body
  font-family 'Raleway', sans-serif
  font-weight $font-weight-1
  font-size $font-size-0

  background-color $color-4

*,
hr
  box-sizing border-box

a
  color $color-2
  animate-text-decoration($color-2)

.container
  margin 0 auto
  max-width 1170px

.row
  margin-top: 20px;

// Import modules
// @import 'modules/*'
