// Import libraries
@import 'bower_components/nib'
@import 'mixins/*'

// Fonts
$font-size-0 = remfy(16px)
$font-size-1 = remfy(12px)
$font-size-2 = remfy(24px)

$font-weight-0 = 300
$font-weight-1 = 400
$font-weight-2 = 700

// colors
$color-0 = #010001
$color-1 = #ed6db0
$color-2 = #ffe30a
$color-3 = #ffffff

// General Style
html
  font-size 62.5%

body
  font-family 'Raleway', sans-serif
  font-weight $font-weight-1
  font-size $font-size-0
  background-color $color-3
  color $color-0

*,
hr
  box-sizing border-box

a
  color $color-2
  animate-text-decoration($color-2)

.container
  margin 0 auto
  max-width 1170px

.row
  margin-top 20px

// Import modules
// @import 'modules/*'
